.ExpenseDate {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: #ffffff;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.ExpenseDate-month, .ExpenseDate-year {
    font-size: .75rem;
}

.ExpenseDate-year, .ExpenseDate-month { font-weight: bold; }
